
/* ------------------------------------------------------------------- 
 * responsive:
 * about
* ------------------------------------------------------------------- */
@media only screen and (max-width: 400px) {
   .results {
      padding: 0 1rem;
   }
   #index-banner {
      padding-top: 0;
   }
   #index-banner h1 {
      font-size: 2.5rem;
   }
   .primary-search-field {
      max-width: 95%;
      margin: 1rem auto 1rem;
      padding: 7px 2rem 1rem;
      height: 4rem;
      border-radius: 2rem;
      -webkit-transition: all .7s;
      transition: all .7s;
  }
  .primary-search-field input[type=text] {
      font-size: 1.5em;
   }
   .primary-search-field.focus input[type=text] {
      font-size: 1.5em;
   }
      
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   #index-banner {
      padding-top: 2rem;
   }
   #index-banner h1 {
      font-size: 4rem;
   }
   .primary-search-field {
      margin-top: 2rem;
   }
   .results .keyword.result .collapsible-body {
      max-height: 20rem;
   }
   .results .verse.result {
      padding: 1rem;
  }
  .keyword.result .carousel .indicators {
     display: none;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   #index-banner {
      padding-top: 2rem;
   }
   .results {
      padding: 0 2rem;
      font-size: 1.1em;
   }
   .results .keyword.result {
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
   }
   .primary-search-field input[type=text] {
      font-size: 2em;
   }
   .primary-search-field input[type=text]:focus {
      font-size: 2.2em;
   }
   .keyword.result .carousel .indicators {
      display: initial;
    }
    .results .keyword.result .collapsible-body {
      max-height: 30rem;
   }
   nav ul a {
      margin: 0 8px;
   }
   /*
   footer.page-footer {
      text-align: left;
   }
   */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   html, body {
      font-size: 14px;
   }
   .results {
      margin: 1rem auto 7rem;
      width: 80%;
      font-size: 1.2em;
   }
   .results .keyword.result .collapsible-body {
      max-height: 40rem;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .results {
      /* margin-left: 17%;
      width: 70%; */
      font-size: 1.3em;
   }

}
 
 